<h1>Projects</h1>

<ul>
	<% @projects.each do |project| %>
		<li>
			<%= link_to project.name, project_path(project.id) %>
			<%= " - #{project.description}" if project.description.present? %>
			<%= "is completed" if project.completed? %>
		</li>
	<% end %>
</ul>

<br>
<%= link_to 'Create a new project', new_project_path %>