<h1>Word Central</h1>

<p>Your destination for text utilities.</p>

<a href="/text_inspections/new">Inspect a Text</a>
<br>
<a href="/asciis/new">ASCII Text</a>
<br>
<a href="/generate_text/new">Lorem Discworld Text Generator</a>