#map {
  height: 75vh;
  width: 100%;
}

#get-places {
  width: 100%;
  margin-bottom: 5%;
}

#input-wrapper {
  margin: auto;
  width: 25%;
}

.title-bar {
	background-color: #89f442;
	text-align: center;
	margin-left: -15px;
	margin-right: -15px;
}

.js-number-cities {
	margin-top: 0px;
}

body {
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}