<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<header>
	<img src="https://userdata.trybooking.com/UserData/2014/2/76430_Quiz%20Night%20Banner.jpg" id="banner">
</header>

<%=yield%>

</body>
