<form action="/makepost" method="POST">
	<label for="title">Title</label>
	<input type="text" name="title">
	<br><br>
	<label for="category">Category</label>
	<input type="text" name="category">
	<br><br>
	<label for="author">Author</label>
	<input type="text" name="author">
	<br><br>
	<label for="text">Post</label>
	<input type="text" name="text" style="padding:0 50px 400px;" placeholder="Write something here">
	<br><br>
	<button type="submit">Publish</button>
</form>