<div class="col-lg-12 title">
	<div class="row">
		<h1>All Users' Shops</h1>
	</div>

	<div class="container-fluid">
		<% @users.each do |user| %>
			<div class="row user">
				<%= link_to user.name, user_products_path(user.id) %>
			</div>
		<% end %>
	</div>
</div>


